
.icon-download:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */