@import '~bootstrap/scss/bootstrap';

$athens-gray: #f8f9fa;
$blue-chill: #0e76a8;
$cultured: #f9f8f8;
$gallery: #efefef;
$gray: #808080;
$home: url('https://morning-garden-95959.herokuapp.com/images/home.jpg');
$outer-space: #343a40;
$white: #fff;

$contact-item-margin: 2px;
$empty-content: '';
$margin-zero: 0;
$section-margin: 1rem;
$speech-bubble-margin: 0 auto 40px 0;
$speech-bubble-p-margin: 0 0 10px;
$spinner-margin: 150px;

a {
  color: inherit;
}

section {
  margin: $section-margin;
}

.about {
  margin-top: 25vh;
}

.badge {
  white-space: normal;
}

.card {
  &.work {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 65vh;
  }
}

.card-img-top {
  width: 20rem;
}

.carousel-indicators {
  li {
    background-color: $gray;
  }
}

.col-sm {
  margin-top: 5px;
}

.contact {
  overflow: hidden;
}

.contact-form {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex-direction: column;
  padding: 1rem;
}

.contact-item {
  margin: $contact-item-margin;
  font-size: 14px;
  padding: 12px;
  width: 120px;
}

.contact-item-container {
  padding-bottom: 15px;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  background: $outer-space;
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  width: 100%;

  a {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }

  p {
    color: $white;
  }
}

.img-col {
  max-width: fit-content;
}

.img-eric {
  padding: 2px;
}

.info-item {
  padding: 4px;
}

.jumbotron {
  background-image: $home;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  min-height: calc(100vh - 56px);
  text-align: center;
}

.key-skills {
  .list-group-item {
    max-width: 150px;
  }
}

.loading {
  text-align: center;
}

.name {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  margin: 1rem 0;
}

.nav-link {
  &.active {
    font-weight: bold;
  }
}

.navbar-text {
  padding-bottom: 0;
}

[data-netlify-identity-menu] {
  ul {
    display: flex;
  }
}

.netlify-identity-item {
  margin: $margin-zero;
  list-style-type: none;
  padding: 0 10px;
}

.section {
  position: relative;
}

.speech-bubble {
  margin: $speech-bubble-margin;
  background: $outer-space;
  border-radius: 4px;
  color: $white;
  padding: 15px;

  p {
    margin: $speech-bubble-p-margin;
    background: $outer-space;
    font-size: 1.2rem;

    :last-of-type {
      margin-bottom: 0;
    }
  }
}

.spinner {
  margin: $spinner-margin;
}

.submit-button {
  float: right;
}

.underline {
  text-decoration: underline;
}

.white {
  color: $white;
}
